body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 4px;
}

.user-input {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
}

input {
    width: 50%;
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
    outline: none;
    border: 2px solid #ccc;
}

.timezone {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #333;
    justify-content: space-between;
    margin: 0 30px;
}

.zone-info {
    flex-direction: column;
    align-self: center;
    margin: 0;
}

.title {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.day {
    font-size: 0.8rem;
    margin-top: -10px;

}

.time {
    font-size: 2rem;
    align-self: center;
}

.remove-container {
    font-size: 4rem;
    align-self: center;
}

a.remove {
    font-weight: 500;
    margin-left: 1rem;
    font-size: 3rem;
    color: darkred;
    cursor: pointer;
}

.timezone-option {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #333;
    font-size: 1.8rem;
    justify-content: space-between;
    margin: 10px 5rem;
}

a {
    text-decoration: none;
    color: #333;
}

.add-icon {
    position: absolute;
    right: 2rem;
    color: #000;
}

@media (max-width: 321px) {
    h1 {
        font-size: 1.7rem;
    }

    .has-add-icon {
        margin-left: -2rem;
    }

    .add-icon {
        right: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media (max-width: 769px) {
    .timezone-option {
        margin: 0.75rem 2rem;
        font-size: 1.4rem;
    }

    input {
        width: 80%;
    }

    h1 {
        font-size: 1.7rem;
    }

    .has-add-icon {
        margin-left: -2rem;
    }

    .add-icon {
        right: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
}
